.site-project-pagination{
    .pagination{
        .page-item{
            .page-link{
                font-family: monospace;
                font-weight: bolder;
                color: #000;
            }
        }
    }
}

.site-blog-pagination{
    .pagination{
        .page-item{
            .page-link{
                font-family: monospace;
                font-weight: bolder;
                color: #000;
            }
        }
    }
}